.card-container {
    width: 270px;
    height: 320px;
    z-index: 1;
    top: -130px
}

.title-container {
    background-color: aqua;
    position: absolute;
    width: 100%;
    margin-top: 260px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}